.c-feature_alert_tooltip {
  position: relative;
  cursor: pointer;

  &:hover {
    .c-feature_alert_tooltip-cross {
      opacity: .5;
    }
  }
}

.c-feature_alert_tooltip-arrow {
  width: 25px;
  height: 25px;

  display: block;
  overflow: hidden;
  position: absolute;

  &::after {
    width: 16px;
    height: 16px;

    content: '';
    position: absolute;

    border-radius: $border-radius-m;

    background: $color-blue-01;
    box-shadow: $shadow-bottom-default;
    transform: rotate(45deg);
  }

  // v
  &.is-placement-top {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      bottom: 18px;
      left: 5px;
    }
  }

  // ^
  &.is-placement-bottom {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      top: 18px;
      left: 5px;
    }
  }

  // >
  &.is-placement-left {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);

    &::after {
      top: 4px;
      right: 18px;
    }
  }

  // <
  &.is-placement-right {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);

    &::after {
      top: 4px;
      left: 18px;
    }
  }
}

.c-feature_alert_tooltip-content {
  padding: 10px;
  display: flex;
  align-items: center;

  color: $color-gray-09;
  background: $color-blue-01;

  border-radius: $border-radius-m;
  box-shadow: $shadow-bottom-default;
}

.c-feature_alert_tooltip-cross {
  margin-left: 10px;
  padding: 4px;
  display: block;

  font-size: 8px;
  line-height: 1;
  text-align: center;

  color: $color-blue-01;
  background: $color-gray-09;
  border-radius: 50%;
}
