$feature-alert-arrow-size: 16px;

@keyframes feature-alert-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.c-feature_alert_tooltip-container {
  width: 300px;
  display: none;
  position: absolute;
  cursor: pointer;
  z-index: 1;

  &:hover {
    .c-feature_alert_tooltip-cross {
      opacity: .5;
    }
  }
}

// Application of css classes that are not being applied by popper.js
.c-feature_alert_tooltip-container[data-popper-placement^='top'] > .c-feature_alert_tooltip-arrow {
  bottom: -4px;
}
.c-feature_alert_tooltip-container[data-popper-placement^='bottom'] > .c-feature_alert_tooltip-arrow {
  top: -4px;
}
.c-feature_alert_tooltip-container[data-popper-placement^='left'] > .c-feature_alert_tooltip-arrow {
  right: -4px;
}
.c-feature_alert_tooltip-container[data-popper-placement^='right'] > .c-feature_alert_tooltip-arrow {
  left: -4px;
}

.c-feature_alert_tooltip-arrow {
  width: $feature-alert-arrow-size;
  height: $feature-alert-arrow-size;

  display: block;
  z-index: -1;

  &::after {
    width: $feature-alert-arrow-size;
    height: $feature-alert-arrow-size;

    content: '';
    position: absolute;

    border-radius: $border-radius-m;

    background: $color-blue-01;
    box-shadow: $shadow-bottom-default;
    transform: rotate(45deg);
  }
}

.c-feature_alert_tooltip-content {
  padding: 10px;
  display: flex;
  align-items: center;

  color: $color-gray-09;
  background: $color-blue-01;

  border-radius: $border-radius-m;
  box-shadow: $shadow-bottom-default;
}

.c-feature_alert_tooltip-cross {
  margin-left: 10px;
  padding: 4px;
  display: block;

  font-size: 8px;
  line-height: 1;
  text-align: center;

  color: $color-blue-01;
  background: $color-gray-09;
  border-radius: 50%;
}

.c-feature_alert_tooltip {
  display: inline-block;
  position: relative;

  &.is-active .c-feature_alert_tooltip-container {
    animation: 300ms ease-in feature-alert-appear;
    display: block;
  }
}
