.c-tab_scroller
  background: $colorSnow00

.c-tab_scroller-list
  display: flex

.c-tab_scroller-item
  padding: 15px 15px 10px
  display: inline-block

  font-size: $fontSizeM
  font-weight: $fontWeightL
  text-transform: uppercase
  color: $colorDark50
  border-bottom: 5px solid transparent
  white-space: nowrap

  &.is-clickable
    cursor: pointer

  &.is-active
    color: $colorDark
    border-bottom-color: $colorAction
