$tooltip-arrow-size: 10px;

.c-tooltip {
  position: relative;
  cursor: default;

  > .c-tooltip-text {
    padding: 5px 10px;
    width: 150px;

    display: none;
    position: absolute;
    z-index: 1;

    background: $color-gray-00;
    border-radius: $border-radius-m;
    box-shadow: $shadow-bottom-default;

    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    color: $color-gray-09;
    word-wrap: break-word;
    white-space: pre;
  }

  @media ($media-m) {
    &.is-active .c-tooltip-text {
      display: block;
    }
  }
}

.c-tooltip-arrow {
  width: $tooltip-arrow-size;
  height: $tooltip-arrow-size;
  z-index: -1;

  &::after {
    width: $tooltip-arrow-size;
    height: $tooltip-arrow-size;

    content: '';
    position: absolute;

    border-radius: $border-radius-s;

    background: $color-gray-00;
    //background: red;
    transform: rotate(45deg);
  }
}

// Application of css classes that are not being applied by popper.js
.c-tooltip-text[data-popper-placement^='top'] > .c-tooltip-arrow {
  bottom: -4px;
}
.c-tooltip-text[data-popper-placement^='bottom'] > .c-tooltip-arrow {
  top: -4px;
}
.c-tooltip-text[data-popper-placement^='left'] > .c-tooltip-arrow {
  right: -4px;
  top:50%;
  transform: translateY(-50%);
}
.c-tooltip-text[data-popper-placement^='right'] > .c-tooltip-arrow {
  left: -4px;
}

.c-tooltip-element {
  width: max-content;
}

