.c-slideshow {
  overflow-x: hidden;

  &.is-animated .c-slideshow-draggable {
    transition: transform $transition;
  }

  .c-dots {
    margin-top: 10px;
  }
}

.c-slideshow-draggable {
  display: inline-block;
}

.c-slideshow-list {
  @include cursor-draggable;
  display: flex;
  flex-shrink: 0;

  > li {
    padding: 5px;
  }
}

.c-slideshow-arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;

  &--prev {
    left: -55px;
  }

  &--next {
    right: -55px;
  }
}
