.c-link_header {
  padding-right: 25px;
  display: block;
  position: relative;
  cursor: pointer;

  &.is-reversed {
    padding-right: 0;
    padding-left: 25px;
  }

  &.is-clickable {
    color: $color-gray-00;
  }

  > .ui-h1,
  > .ui-h2,
  > .ui-h3 {
    display: block;
  }

  > i {
    @include icon-size(16px);

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: $color-gray-02;
  }

  &.is-reversed > i {
    right: auto;
    left: 0;
  }
}
