@import 'nebenan-ui-kit/styles';
@import '../src/**/*.scss';
@import './components/**/*.scss';
@import './containers/**/*.scss';

html {
  background: $color-gray-07;
}

main {
  padding: 10px;

  @media ($media-m) {
    padding: 30px 100px;
  }
}

.preview-section {
  margin-top: 30px;
}
