.c-content_header-description
  margin-top: 5px
  display: block

.c-content_header-controls
  margin: 10px 0
  clearfix()

.c-content_header-action
  float: right

.c-content_header.has-action .c-content_header-content
  > a:only-child,
  > .ui-link:only-child
    margin-top: 5px
    display: inline-block
