.preview-sliders-slide
  background: $colorSnow00
  border-radius: $borderRadiusM
  box-shadow: $shadowL

.preview-sliders-slide-header
  padding: 20px 10px
  color: $colorDark
  text-align: center
  text-transform: uppercase
  border-bottom: 2px solid

  i
    margin-right: $offsetSpace
    display: inline-block
    vertical-align: middle

    &:before
      vertical-align: top

.preview-sliders-slide-image
  display: block
  blockResponsive(75%)

  background-color: $colorSnow
  backgroundFill()

.preview-sliders-slide-content
  min-height: 120px
  padding: 15px
  text-align: center

.preview-sliders-slideshow-image
  blockFill()
  backgroundFill()

.preview-sliders-side_scroller-list
  display: flex

.preview-sliders-side_scroller-item
  width: 50px
  margin-left: 5px
  padding: 15px 0
  display: block
  flex-shrink: 0
  text-align: center
  background: blue

  &:first-child
    margin-left: 0
