.preview-content {
  .preview-tooltips > ul {
    @include legacy-clearfix;
    margin: 30px 0;

    > li {
      margin-top: 10px;

      > div {
        margin-top: 10px;
      }

      @media ($media-m) {
        width: 50%;
        margin-top: 0;
        padding-right: 15px;
        display: block;
        float: left;
      }
    }
  }

  .preview-progress {
    display: flex;
    justify-content: space-between;

    > ul {
      width: 45%;

      > li {
        margin-top: 10px;
      }
    }
  }

  .preview-progress_line {
    > ul > li {
      margin-top: 10px;
    }
  }

  .preview-single-emoji img {
    width: 64px;
    height: 64px;
  }

  .c-emoji_suggestions {
    width: 100%;
    padding: 5px;

    pointer-events: auto;
  }

  .preview-clipboard_text .ui-button {
    margin-top: 15px;
  }
}
