.preview-utility {
  .preview-section > ul {
    margin: 30px 0;

    > li {
      margin-top: 10px;
    }

    &.ui-options > li {
      margin-top: 0;
    }
  }

  .c-scrollable {
    height: 400px;
  }

  .preview-infinite-list {
    li {
      height: 40px;
      padding: 10px 20px;
      display: block;
      background: $color-gray-08;
      border-top: $border-dark;

      &:first-child {
        border-top: none;
      }
    }
  }

  .preview-context-content {
    display: none;
  }

  .is-active .preview-context-content {
    display: block;
  }
}
