.preview-utility
  .preview-section > ul
    margin: 30px 0

    > li
      margin-top: 10px

  .c-scrollable
    height: 400px

  .preview-infinite-list
    li
      height: 40px
      padding: 10px 20px
      display: block
      background: $colorSnow40
      border-top: $borderDark

      &:first-child
        border-top: none

  .preview-context-content
    display: none

  .is-active .preview-context-content
    display: block
