.c-date_box {
  width: 60px;
  height: 60px;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  &.is-disabled {
    background: $color-gray-02;
    color: $color-gray-09;
  }

  strong,
  small {
    font-weight: normal;
  }

  strong {
    font-size: 20px;
    line-height: 25px;
  }

  small {
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  @media ($media-m) {
    width: 80px;
    height: 80px;

    strong {
      font-size: 30px;
      line-height: 35px;
    }

    small {
      font-size: 20px;
      line-height: 25px;
    }
  }
}
