.preview-misc {
  .c-icon_box,
  .c-date_box {
    margin-right: 10px;
  }

  .c-logo {
    margin-right: 10px;
  }

  .preview-dark {
    padding: 15px;
    background: $color-gray-00;
    color: $color-gray-09;
  }
}
