.preview-content {
  display: flex;
  flex-direction: column;

  .preview-tooltips > ul {
    @include legacy-clearfix;
    margin: 30px 0;

    > li {
      margin-top: 10px;

      > div {
        margin-top: 10px;
      }

      @media ($media-m) {
        width: 50%;
        margin-top: 0;
        padding-right: 15px;
        display: block;
        float: left;
      }
    }
  }

  .preview-feature_alert_tooltip > ul {
    width: 50%;
    margin-left: auto;

    > li {
      margin-top: 10px;

      > div {
        margin-top: 10px;
      }
    }
  }
}
